	body
	{
		background: #ddd /*url('../img/purty_wood_2X.png')*/;
		color: #333;
		padding:40px;
		font-family: Roboto, 'Open Sans', Tahoma, 'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 22px;
		font-weight:300;
		
	}
	h1
	{
		font-family:Lato;
		font-weight:900;
		font-size:72px;
		color:#f3f3f3;
		text-shadow: 0px 0px 2px #686868, 0px -1px 1px #ddd, 0px -2px 1px #d6d6d6, 0px -3px 1px #ccc, 0px -4px 1px #c5c5c5, 0px -5px 1px #c1c1c1, 0px -6px 1px #bbb, 0px -7px 1px #777;
		margin-bottom:20px;
		
	}
	
	h2
	{
		color: #666;
		font-family: 'Open Sans', Tahoma, 'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 36px;
		font-weight:200;
		
	}

	.noshow
	{
		display: none;
	}

	.loading
	{
		color:#999;
	}
	p
	{

	}

	.gplusPhoto
	{
		height:72px;width:72px;border-radius:100%;margin-bottom:-20px;margin-right:10px;
		border: 5px solid #FFF;
	}
	.gplus-post
	{
		position: relative;
		left:60px;
		top: 20px;
		color:#333;
		font-size: 12px;
		padding:15px;
		background: #f6f6f6;
		border-radius: 10px;
		display: flex;
		width: -webkit-fit-content; width: -moz-fit-content;
		height: -webkit-fit-content; height: -moz-fit-content;
	}

	.gplus-post:after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 20px;
		border: 0;
		border-left-width: 10px;
		border-bottom-width: 20px;
		border-style: solid;
		border-color: transparent #fff;
		display: block;
		width: 0;
	}
	.footer_links
	{
		font-size: 18px;
	}
	.footnote
	{
		margin-top:40px;
		font-size: 12px;
		border-top: 1px solid #999;
		padding-top: 20px;
		color:#666;
	}
	a:link, a:link:visited, a:visited
	{
		color:#072B8A;
		text-decoration: none;
	}
	
	a:hover, a:visited:hover
	{
		color:#0B6AF3;
		text-decoration: underline;
	}

	.proflinkWrapper a:hover, .proflinkWrapper a:visited:hover
	{
		color:#333;
		font-weight: bold;
		text-decoration: underline;
	}
	.proflinkWrapper a:link, .proflinkWrapper a:link:visited, .proflinkWrapper a:visited
	{
		color:#333;
		font-weight: bold;
		text-decoration: none;
	}